<html>
<head>
  <meta charset='utf-8'>
  <title>Thank You!</title>
</head>
<body>
  <h1>Hello <%= name %>!</h1>
  <p>Thanks for taking part on the conference.  We couldn't have done it without you!</p>

  <p>
    Your voice needs to be heard.
    Please consider reaching out to your representatives:
  </p>

  <table>
    <tr><th>Legislators</th></tr>
    <% legislators.each do |legislator| %>
    <tr><td><%= "#{legislator.first_name} #{legislator.last_name}" %></td></tr>
    <tr><td><%= "#{legislator.website}" %></td></tr>
    <% end %>
  </table>
</body>
</html>